
/**************
 Les variables
**************/
@main-color1: #ffffff;
@main-color2: #cfdbe6;
@border-color: gray;

/************
 Les imports
************/

@import 'styles/chat.less';
@import 'styles/index/news.less';
@import 'styles/index/style.less';
@import 'styles/inscr/style.less';
@import 'styles/jeu/groupe/contenu.less';
@import 'styles/jeu/groupe/liste.less';
@import 'styles/style.less';