.left_panel{
    width: 300px;
}

.left_panel form p {
    position:relative;
    padding:0px;
    margin:0px;
}

.left_panel label  {
    position:absolute; top:3; left:5
}

.right_content{
    margin-left : 300px;
    padding : 25px;
}